        
       :root {
        --text-color: #fff;
        --bg-color: #121212;
        --slider-bg-color: #b0b0b0;
        --bg-nav-color: #1A120B;
        --main-text-color:  #fff;
        --span-bg-color: #FC7300; 
        --bg-color-icons: #FC7300;
        --download-btn: #FC7300;
        --bar-bg: #F9FBE7;
        --card-bg-color: #FC7300;
       }
       .light {
        --text-color: #000000c9;
        --bg-color: #ffffffbd;
        --bg-nav-color: #E5E5CB;
        --main-text-color:  #1A120B;
        --span-bg-color: #FFC93C; 
        --bg-color-icons:#FFC93C;
        --download-btn:#FFC93C;
        --bar-bg: #000;
        --card-bg-color: #FFC93C;
       }
       *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            text-decoration: none;
            list-style: none;
            font-family: 'Nunito Sans', sans-serif;
        }
        body {
            font-family: sans-serif;
            background: var(--bg-color);
            color: var(--text-color);
            transition: all 0.5s;
        }   
        html {
            scroll-behavior: smooth;
        }
       h1, h2, h3, h4, h5, h6{
            color: var(--main-text-color);
            font-size: clamp(1rem, 0.931rem + 3.6782vw, 3rem);;
        }
        .navbar {
            position: static;
            height: 80px;
            width: 100%;
        }
        
        .nav-logo {
            font-size: 35px;
            font-weight: bold;
            color: var(--text-color);
            padding: 0 100px;
            line-height: 80px;
        }
        .nav-logo span {
            color: var(--span-bg-color);
        }
        nav ul {
            float: right;
            margin-right: 40px;
        }
        nav li {
            display: inline-block;
            margin: 0 8px;
            line-height: 80px;
        }
        
        nav a {
            color: var(--text-color);
            font-size: 18px;
            text-transform: uppercase;
            border: 1px solid transparent;
            font-weight: bold;
            padding: 7px 10px;
            border-radius: 3px;
        }
        a.active,a:hover {
            border: 1px solid var(--text-color);
            transition: .5s;
        }
        nav .hamburger {
            color: var(--text-color);
            font-size: 30px;
            line-height: 80px;
            float: right;
            margin-right: 40px;
            cursor: pointer;
            display: none;
            margin-top: 10px;
        }
        nav .bar{
            display: block;
            width: 25px;
            height: 3px;
            background: var(--bar-bg);
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
        }
        section {
            position: relative;
            width: 100%;
            height: 100vh;
            margin-bottom: 10px;
            /* display: grid; */
            /* place-items: center; */
          }
          .section .title-page{
            display: grid;
            place-items: center;
            justify-content: center;
            text-align: center;
            font-size: 40px;
          }
          .darklight-mode {
            font-size: 35px;
            padding: 0 100px;
            width: 20px;
          }
          .toggle {
            /* margin: 10px auto; */
            margin-top: 10px;
            line-height: 80px;
            font-size: 17px;
            position: relative;
            display: inline-block;
            width: 2em;
            height: 1em;
          }
         .toggle input {
          opacity: 0;
          width: 0;
          height: 0;
         }
         .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: var(--slider-bg-color);
          border: 1px solid var(--slider-bg-color);
          transition: .4s;
          border-radius: 25px;
          outline: none;
         }
         .slider:before {
          position: absolute;
          content: "";
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          outline: 2px solid var(--slider-bg-color);
          left: -1px;
          bottom: -1px;
          background-color: var(--bg-color);
          transition: transform .25s ease-in-out 0s;
         }
         .slider-icon {
          opacity: 0;
          height: 12px;
          width: 12px;
          stroke-width: 8;
          position: absolute;
          z-index: 999;
          stroke: #222222;
          right: 60%;
          top: 30%;
          transition: right ease-in-out .3s, opacity ease-in-out 15s;
         }
         input:checked + .slider {
          background-color: #222222;
         }
         input:checked + .slider::before {
          transform: translateX(1.5em);
          outline-color: #181818;
         }

         /* HOME SECTION AND HERO SECTION */
         section h1{
            text-align: justify;
            font-size: 50px;
            color: var(--text-color);
            margin: 100px 50px 0 100px;
        }
        section span {
            color: var(--span-bg-color);
        }
        section h3 {
            text-align: justify;
            font-size: 30px;
            color: var(--text-color);
            margin: 10px 50px 0 100px;
        }
        section p {
            text-align: justify;
            font-size: 20px;
            color: var(--text-color);
            margin: 10px 50px 10px 100px;
        }
        .buttonDownload {
            display: inline-block;
            position: relative;
            padding: 10px 25px;
            background-color: var(--download-btn);
            color: white;
            font-family: sans-serif;
            text-decoration: none;
            font-size: 20px;
            text-align: center;
            text-indent: 15px;
            border: none;
            margin: 17px 50px 50px 100px;
            width: 190px;
           }
           
           .buttonDownload:hover {
            background-color: #FC7300;
            color: white;
           }
           
           .buttonDownload:before, .buttonDownload:after {
            content: ' ';
            display: block;
            position: absolute;
            left: 15px;
            top: 52%;
           }
           
           .buttonDownload:before {
            width: 10px;
            height: 2px;
            border-style: solid;
            border-width: 0 2px 2px;
           }
           
           .buttonDownload:after {
            width: 0;
            height: 0;
            margin-left: 3px;
            margin-top: -7px;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: transparent;
            border-top-color: inherit;
            animation: downloadArrow 1s linear infinite;
            animation-play-state: paused;
           }
           
           .buttonDownload:hover:before {
            border-color: #cdefbd;
           }
           
           .buttonDownload:hover:after {
            border-top-color: #cdefbd;
            animation-play-state: running;
           }
           
           @keyframes downloadArrow {
            0% {
             margin-top: -7px;
             opacity: 1;
            }
           
            0.001% {
             margin-top: -15px;
             opacity: 0.4;
            }
           
            50% {
             opacity: 1;
            }
           
            100% {
             margin-top: 0;
             opacity: 0.4;
            }
           }
           /* social icons */
           .social-media {
            display: flex !important;;
            margin: 0 50px 0 100px;
            border-radius: 100%;
           }
           .media-icons {
            margin: 5px;
            border: 1px solid #cdefbd;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            outline: none !important;
           }
           .media-icons:hover:active{
                background-color: #E5E5CB;
           }

           .social-media svg{
            width: 50px;
            height: 50px;
            background-color: var(--bg-color-icons);
            margin: 0px 10px 0 1px;
            border-radius: 100%;
            
           }
           .social-media svg:hover{
            width: 50px;
            height: 50px;
            background-color: #B9F3FC;
            margin: 0px 10px 0 1px;
            border-radius: 100%;
            
           }
          .profile-img{
            display: flex;
            border-radius: 100%;
            margin-left: 60rem;
            width: 100%;
           }
           .profile-img img{
            position: absolute;
            background: var(--bg-color-icons);
            border-radius: 100%;
            top: 50px;
            width: 400px;
            height: 400px;
           }
         
         /* END HOME SECTION AND HERO SECTION */

         /* START ABOUT SECTION */
        #about {
            margin-top: 10rem;
            padding: 10px;
        } 
        #about .container {
            max-width: 100%;
            width: 100%;
            height: 100vh;
            border-radius: 50%;
            padding-inline: 1.2rem;
            margin-inline: auto;
        }
        .card {
            display: flex;
            background-color: var(--card-bg-color);
            box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0..05);
            transition: background-color 0.25s;
            height: 40rem;
           
        }
        .card-image {
            flex: 2;
            width: 100%;
        }
        .card-image .about-img {
            width: 50rem;
            height: 40rem;
            mix-blend-mode: normal;
            background: #cdefbd;
        }
        .card-body {
            flex: 1;
            padding: 5rem;
        }
        .card-title {
            font-family: 'Playfair Display', sans-serif;
            font-size: clamp(3rem, 3vw, 3rem);
            color: var(--text-color);
            border-bottom: 1px solid var(--main-text-color);
            border-width: 1px;
        }
        .card-subtitle {
            font-size: 1.2rem;
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 5.5rem;
            margin: auto 0.5rem;
        }
        .card-body p {
            margin-bottom: 1.2rem;
            margin: auto 0.5rem;
        }
        .card-btn {
            display: inline-block;
            text-decoration: none;
            color: var(--text-color);
            padding: 1rem 2.5rem;
            margin-top: 2rem;
            border: 2px solid var(--main-text-color);
        }
        .card-btn span {
            display: inline-block;
            transition: transform 0.25s;
        }
        .card-btn:hover span {
            transform: translateX(0.75rem);
        }
/*         
        @media screen and (max-width: 56.25em) {
            .card {
                flex-direction: column;
            }
            .card-body {
                padding: 2.5rem;
            }
            .card-btn {
                margin-top: 1.5rem;
            }
        } */
        /* end about section */

        /* PROJECT SECTION */
        #project .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-bottom: 50rem;
        }
         .box{
            background-color: #ff9950;
            height: 200px;
            width: 400px;
            display: flex;
            flex: 1 0 100;
            border-radius: 10px;
            margin: 10px;
            top: 0;
            gap: 50em;
            
        }
        .box:hover {
            background-color: #ff9950;
            transform: scale(1.1);
            transition: ease-in-out;
            
        }
        .box a{
            /* display: grid; */
            place-items: center;
            text-align: center;
            justify-content: center;
            text-decoration: none;
            border: none;
            outline: none;
        }
        .box img {
            height: 180px;
            width: 380px;
            margin: 10px;
            object-fit: cover;
        }


@media only screen and (max-width: 600px)   { 
    /* STYLES HERE */
    section{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    #about{
        width: 100%;
    }
    #about article{
        width: 100%;
    }
    #about about-img{
        width: 100%;
    }
   .nav-logo {
     display: none;
   }
   nav ul, li{
    margin: auto;
   }
   nav a {
    font-size: 17px;
   }
}

@media (max-width: 909px) {
    nav .hamburger {
        display: block;
    }
    /* nav #icon {
        display: block;
    } */
    nav ul {
        /* position: fixed; */
        width: 100%;
        background: #2f3640;
        top: 80px;
        left: 0;
        text-align: center;
        
       }
    nav li {
        /* display: none; */
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;

    }
    a.active,a:hover {
        border: none;
        color: #3498db;
        transition: .5s;
    }
    #about about-img{
        display: none;
    }
}
        